/* 
    
    Auteur/Author: Joshua L.J. Vachon (Github: @joshua.vachon25)
    Version: 0.1
    Date: 15/03/2021

*/

/*IMPORT*/

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*CONFIGURATION ET RESET*/

:root{
    --primary: #092834;
    --secondary: #a0b9b9;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', Arial, sans-serif;
}

html{
    font-family: 'Lato', Arial, sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--text);
    width: 100vw;
}

.primary{
    background-color: var(--primary);
    color: var(--primaryText);
    text-decoration: none;
}

.secondary{
    background-color: var(--secondary);
}

/*GESTION DU TEXTE*/

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.5rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.6rem;
}

h5{
    font-size: 2.2rem;
}

h6{
    font-size: 1.8rem;
}

p{
    line-height: 1.7;
    text-align: justify;
}

a{
    text-decoration: none;
    color: var(--primary);
}

i{
    font-family: 'Material Icons';
    color: var(--secondary);
    font-style: normal; 
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                            supported by Chrome, Edge, Opera and Firefox */
}

.i16{
    font-size: 1.6rem;
}

.i32{
    font-size: 3.2rem;
}

.i64{
    font-size: 6.4rem;
}

.i128{
    font-size: 12.8rem;
}

.i256{
    font-size: 25.6rem;
}

.i512{
    font-size: 51.2rem;
}