.badge{
    display: inline;
    border-radius: 3px;
    margin: 0 2px;
    padding: 3px 6px;
    font-size: 1.4rem;
}

.overlay{
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left:0;
}